# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Model Files (IMPORTANT)
# =========================
*.h5
*.keras

# =========================
# Dataset (VERY IMPORTANT)
# =========================
dataset/
data/
*.zip

# =========================
# Outputs
# =========================
alerts/
output.jpg
*.mp4

# =========================
# Temporary files
# =========================
*.tmp
*.temp