body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    height: 100vh;
    overflow-x: hidden;

    /* 🔥 FIXED FULL BACKGROUND */
    background: linear-gradient(rgba(2,6,23,0.85), rgba(2,6,23,0.95)),
                url('https://images.unsplash.com/photo-1535223289827-42f1e9919769?q=80&w=2070');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 40px;
    color: #00f5ff;
    text-shadow: 0 0 10px #00f5ff;
}

.video-box {
    margin-top: 20px;
}

video {
    border-radius: 15px;
    border: 2px solid #00f5ff;
    box-shadow: 0 0 20px #00f5ff;
}

.controls {
    margin: 20px;
}

button {
    background: linear-gradient(135deg, #00f5ff, #0ea5e9);
    border: none;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

button:hover {
    transform: scale(1.1);
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 5px;
}

.status {
    font-size: 26px;
    margin-top: 15px;
}

.alert {
    color: red;
    font-weight: bold;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% { opacity: 0.3; }
}

.overlay {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    background:red;
    color:white;
    font-size:60px;
    justify-content:center;
    align-items:center;
}